<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Libreria "Leggi&Rimani"</title>
</head>
<body>

<h1>Elenco dei libri presenti</h1>
        <ul>
          {% for libro in libri %}
              <li>
                <h3>{{ libro[1] }}</h3><br>
                <p><i>Autore: {{ libro[2] }} </i></p><br>
                <p><i>Genere: {{ libro[3] }}</i></p><br>
                <p><i>Descrizione: {{ libro[4] }}</i></p>
                <a href="{{ url_for('modifica_libro', id = libro[0]) }}">Modifica</a>
                <a href="{{ url_for('elimina_libro', id = libro[0]) }}">Elimina</a>
              </li>
          {% endfor %}
        </ul>
      <a href="/aggiungi">Aggiungi libro</a>



</body>
</html>